---
---

@import "minimal-light";

.wrapper {
  max-width: 1200px; /* or whatever looks good on your screen */
  margin: 0 auto;    /* keep it centered */
  padding: 0 2rem;
}

body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}
